################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQ/RaabbitMQWeb.ExcelCreate/wwwroot/files/product-excel-5ac8b9f-95.xlsx
/RabbitMQ/RaabbitMQWeb.ExcelCreate/wwwroot/files/~$product-excel-f5b34cb-98.xlsx
/RabbitMQ/RaabbitMQWeb.ExcelCreate/wwwroot/files/product-excel-7e772d5-29.xlsx
/RabbitMQ/RaabbitMQWeb.ExcelCreate/wwwroot/files/product-excel-f5b34cb-98.xlsx
