################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQ/RaabbitMQWeb.ExcelCreate/wwwroot/files/product-excel-5ac8b9f-95.xlsx
